# Node modules
node_modules/
client/node_modules/
server/node_modules/

# Environment files
.env
client/.env
server/.env

# Build output
dist/
build/

# OS files
.DS_Store

# Logs
logs
*.log
npm-debug.log*

# IDE
.vscode/
.idea/
